#footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(217, 217, 217);
}

#vertSlider{
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	width: 8px;
	height: 175px;
	padding: 0 5px;
}

#slider, vertSlider {
	width:50%;
}
#slider{
	direction: rtl;
}