<!-- Footer -->
<div id="footer" class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Fakulta elektrotechniky a informatiku - STU BA</p>
        <p class="h6">Mechatronika - Pokrocile informacne technologie &copy; Richard Uzik 2018</p>
      </div>
    </hr>
  </div>
</div>
