<!-- Menu -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">POIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/run">Run car</a></li>
      <li><a href="/graf">Graph</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</nav>
