{% extends 'layout.html' %}

{% block body %}

<div class="container">
 <div class="form-group">
  <label for="sel1">Select dataset:</label>
  <select class="form-control" id="sel1">

  </select>
</div> 
 <div id="chartContainer" style="height: 370px; width:100%;"></div>
 <div id="chartContainer2" style="height: 370px; width:100%;"></div>
</div>

{% endblock %}
