{% extends 'layout.html' %}

{% block body %}
<!-- Nadpis -->
<div class="jumbotron text-center">
  <h1>Welcome to POIT Car-Project homepage</h1>
</div>

<div class="container">
</div>
{% endblock %}
