{% extends 'layout.html' %}

{% block body %}

<div class="container">
  <div class="col-md-6 col-md-offset-3" style="text-align:center">
    <label for="start">Run car: </label>
    <button name="start" type="submit" class="btn btn-large" onclick="start_car()" style="margin:5px">Start</button>
  </div>
  <div class="col-md-6 col-md-offset-3" style="text-align:center"s>
    <label for="stop">Stop car: </label>
    <button name="stop" type="submit" class="btn btn-large" onclick="stop_car()" style="margin:5px">Stop</button>
  </div>

  <input class="col-md-4 col-md-offset-4" id="slider" type="range" min="1100" max="1900" value="1500" step="50" onchange="sliderValue()"/>
  <input class="col-md-4 col-md-offset-4" id="vertSlider" min="1500" max="1580" value="1500" step="1" type="range" orient="vertical" onchange="sliderValue()"/>
</div>

{% endblock %}
